body {
  width: 300px;
  border: 1px solid black;
  min-height: 100vh;
}
p {
  color: green;
}

.line-break {
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

/* #dep-var-body {
} */

/* .dep-var-form-control {
} */

.flex-row-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ind-var-ranges {
  list-style-type: none;
  padding: 0;
}

.ind-var-ranges-item {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.ind-var-ranges-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ind-var-ranges-header-notation {
  font-size: 1.5em;
  font-weight: 300;
}

.ind-var-ranges-header-value {
  font-size: 1.5em;
  font-weight: 300;
}

.add-ind-value {
  text-decoration: none;
}

.ind-var-ranges-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ind-var-footer-button {
  display: flex;
  flex: 1 !important;
  justify-content: center;
  align-items: center;
}
